.jumbotron {
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: transparent !important;
}

#title {
    margin-bottom: 30px;
    font-weight: 400;
}

#message-panel {
    margin-top: 10px;
    background-color: #EAE6DA;
    margin-bottom: 5px;
    height: 200px;
}

#clear {
    width: 100%;
    margin-bottom: 55px;
}

#receiver {
    margin-bottom: 5px;
}

#subject {
    margin-bottom: 5px;
}

#message {
    margin-bottom: 5px;
}

#messageInstance {
    font-weight: 300;
    font-size: 15px;
}

#send {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
}

#onlineUsers {
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 50px;
}

#registeredUsers {
    margin-top: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.user {
    font-weight: 300;
    font-size: 20px;
}

#logout {
    width: 100%;
}