body {
	background: #A5E5F2;
}

#title {
    text-align: center;
    font-size: 35px;
    font-weight: 400px;
}

#content {
    margin-top: 50px;
    text-align: center;
    width: 50%;
}

#message-panel{
    height: 200px;
    width: 50%;
    margin-left: 25%;
}

#clear {
    margin-left: 75%;
    width: 25%;
}

#receiver {
    height: 25px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

#message {
    height: 25px;
    width: 50%;
    margin-left: 25%;
}

#send {
    margin-top: 10px;
    margin-left: 25%;
    text-align: center;
    height: 30px;
    width: 50%;
    border-radius: 2%;
}

#onlineUsers {
    margin-top: 20px;
    text-align: center;
}

#onlineUsers h2{
    font-weight: 600;
    font-size: 30px;
}

#onlineUsers p{
    font-weight: 300;
    font-size: 20px;
}

#logout {
	margin-top: 30px;
    height: 25px;
    width: 100px;
}