.jumbotron {
    width: 70%;
    margin-left: 15%;
	margin-right: 15%;
	background-color: transparent !important;
}

.body{
	background: #ccc;
}

.jumbotron {
	margin-bottom: 200px;
}

#login {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 400;
}

#username, #password {
	margin-top: 10px;
}

#password {
	margin-top: 10px;
	margin-bottom: 30px;
}

#loginButton {
	width: 100%;
	margin-bottom: 50px;
}