.jumbotron {
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: transparent !important;
}

#title{
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
}

#username{
    margin-top: 10px;
}

#password{
    margin-top: 5px;
}

#password2{
    margin-top: 5px;
    margin-bottom: 20px;
}

#register {
    width: 100%;
    margin-bottom: 50px;
}